@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin step-common-style($isDetail, $color, $borderColor) {
  @if $isDetail==true {

    &.alarm-step-item-info-top {
      border: 1px solid $color;
      color: white;
      background: $color;
    }

    &.alarm-step-item-divider {
      border-top: 1px solid $borderColor;
    }
  }

  @else {

    &.operation-step-item-leftLine,
    &.operation-step-item-rightLine {
      border-top: 1px solid $color;
    }

    &.operation-step-item-main {
      background: white;
      color: $color;
      border: 1px solid $color;
    }
  }
}